.register-action
  select(ng-model="recipe.device")
    option(ng-repeat="device in devices" value="{{ device.uuid }}") {{ device.name }}
  | 의 전원을
  select(ng-model="recipe.action")
    option(value="on") 켭니다
    option(value="off") 끕니다
    option(value="toggle") 토글합니다
