.register-datetime
  | 매 
  select(ng-model="period")
    option(value="hour") 시
    option(value="day") 일
    option(value="week") 주
    option(value="month") 달
  .day(ng-if="period === 'month'")
    input(type="number" ng-model="day")
    | 일
  .dayofweek(ng-if="period === 'week'")
    select(ng-model="dayofweek")
      option(value="1") 월
      option(value="2") 화
      option(value="3") 수
      option(value="4") 목
      option(value="5") 금
      option(value="6") 토
      option(value="0") 일
    | 요일
  .hour(ng-if="period === 'week' || period === 'day' || period === 'month'")
    input(type="number" ng-model="hour")
    | 시
  .minute(ng-if="period === 'hour' || period === 'day'")
    input(type="number" ng-model="minute")
    | 분
  | 마다
