.register-datetime
  | 매 
  select
    option 시간
    option 일
    option 주
    option 달
  .dayofweek
    select
      option 월
      option 화
      option 수
      option 목
      option 금
      option 토
      option 일
    | 요일
  .hour
    input(type="number")
    | 시
  | 마다
