.register-type
  .trigger
    label(for="datetime") 날짜 / 시간
    input(type="radio" name="type" ng-model="recipe.type" value="datetime")
  .trigger
    label(for="usage") 전력 사용량
    input(type="radio" name="type" ng-model="recipe.type" value="usage")
