.register-controller
  .body(ui-view="")
  //- .header
  //-   h1.title {{ currentRegisterTitle }}
  //- .body(ui-view="")
  //- .footer
  //-   button(ng-click="goNextState()")
  //-     | {{ $state.is('register.action') ? '완료' : '다음' }}
