.main-controller
<<<<<<< HEAD
  ul.recipe-list
    li.recipe(ng-repeat="recipe in recipes")
      {{ recipe.desc }}
  a(ui-sref="register.type") 레시피 새로 만들기
    
      
  //- .mid-container
    //- h1 레시피
    //- a.login-btn(href="" ng-click="loginOauth('encored-enertalk')") 에너톡으로 시작하기
    //- button.btn.btn-primary(type='submit', ng-click='addThing()') Add New
=======
  .mid-container
    h1 레시피
    a.login-btn(href="" ng-click="loginOauth('encored-enertalk')") 에너톡으로 시작하기
    //button.btn.btn-primary(type='submit', ng-click='addThing()') Add New
>>>>>>> 8e32c18c49faaca6f5f5973d23fd3f789d1a7830
