@import '../../assets/styles/mixin';

.main-controller {
  @include full-screen;

  .mid-container {
    @include vertical-center;
    width: 100%;
    text-align: center;
    a.login-btn {
      @include primary-button;
      height: 36px;
      line-height: 36px;
      width: 144px;
      text-decoration: none;
    }
  }
}
