.register-usage
  .form-string
    input(type="number" ng-model="recipe.usage.minute")
    | 분 동안, 
    .select-wrapper
      select(ng-model="recipe.usage.device")
        option(ng-repeat="device in devices" value="{{ device.uuid }}") {{ device.name }}
    | 가 사용한 전력의 평균이
  .form-string
    input(type="number" ng-model="recipe.usage.value")
    | W 
    .select-wrapper
      select(ng-model="recipe.usage.condition")
        option(value="over") 이상
        option(value="under") 미만
    | 일 때
  .form-string
    .select-wrapper
      select(ng-model="recipe.device")
        option(ng-repeat="device in devices" value="{{ device.uuid }}") {{ device.name }}
    | 의 전원을 
    .select-wrapper
      select(ng-model="recipe.action")
        option(value="on") 켭니다
        option(value="off") 끕니다
        option(value="toggle") 토글합니다
  button.primary-button(ng-click="createRecipe()" ) 설정 완료하기 >
